a{
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #434455;
}
.header {}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-color{
    color: #2e2f42;
}

.header-list {}

.header-list-item {}

.list-item-link {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.address {
    font-style: normal;
}

.address-list {}

.address-item {}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus,
.list-item-link:hover,
.list-item-link:focus {
color: #404bbf;
}
.hero {
    background-color: #2e2f42;
}

.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn {
        background-color: #4d5ae5;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
    
.about-features {}

.features-title {}

.features-list {}

.features-item {}

.features-hero {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {
    background-color: #f4f4fd;
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list {}

.team-item {
    background-color: #fff;
}

.team-hero {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.about-portfolio {}

.portfolio-hero {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.portfolio-item a {
    color: inherit;
    text-decoration: none;
}

.footer {
    background-color: #2e2f42;
}

.footer-link {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.link-color {
    color: #f4f4fd;
}

