a{
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #434455;
}
.header {}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-color{
    color: #2e2f42;
}

.header-list {}

.header-list-item {}

.list-item-link {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.address {
    font-style: normal;
}

.addres-list {}

.addres-item {}

.addres-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.addres-link:hover,
.addres-link:focus,
.list-item-link:hover,
.list-item-link:focus {
color: #404bbf;
}
.hero {
    background: #2e2f42;
}

.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn {
        background: #4d5ae5;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
}
.about-features {}

.features-title {}

.features-list {}

.features-item {}

.features-hero {}

.features-text {}

.team {
    background: #f4f4fd;
}

.team-title {
    text-align: center;
}

.team-list {}

.team-item {
    background: #fff;
}

.team-hero {
    text-align: center;
}

.team-text {
    text-align: center;
}

.footer {
    background: #2e2f42;
}

.footer-link {
    color: #4d5ae5;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.link-color {
    color: #f4f4fd;
}

.about-portfolio {
    text-align: center;
}